.todo-list-header {
  font-size: 14px;
}
.todo {
  color: #ccc;
  font-size: 15px;
  height: 44px;
}
.todo-name {
  color: #eee;
  font-size: 17px;
}

.todo-tag {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background: orange;
  margin-right: 8px;
  padding: 4px 0px 4px 8px;
}

.tag-remove-button {
  color: black;
  font-weight: 200;
  background: none;
  border: none;
}
.tag-add-button {
  color: black;
  background-color: orange;
  border-color: orange;
  font-weight: 300;
  margin-left: 8px;
  border-radius: 8px;
}
.active {
  background: orange;
  color: white;
  font-weight: 500;
}
